/* Basic -------------------------------------------------------------*/
body, input, select, textarea {
	color: black;
	font-family: Product Sans, "Open Sans", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: normal;  /* pas en gras */
	letter-spacing: 0.075em;
	line-height: 1.65em;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font: inherit;
	font-weight: 800;
	font-size: 1.5em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.75em;
}
h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

li{
	list-style: none;
}

button {
  background-color: #EE6C6C;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/* Header -------------------------------------------------------------*/
.header {
	position: fixed;
	height: 60px;
	line-height: 60px;
	width: 100%;
	color: #fff;
	z-index: 100;
	transition: background 150ms ease-in;
}

.nav-scrolled{
	background: rgba(85,121,128,1.00)
}

.header h1 {
	float: left;
	font: inherit;
	text-decoration: none;
	margin: 0;
}

.header .logoMobile{
	display: none; 
}
		
.header h1 a{
	border-bottom: 0;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	text-decoration: inherit;
	color: inherit;
	padding-left: 20px;
	padding-right: 20px;
}

.header h1:hover {
	background-color: rgba(203,203,203,0.51);
}

.menu a:hover {
	background-color: rgba(203,203,203,0.51);
	border-radius: 50px;
}

.header a:hover ~ .circle {
	color: black;
}

/* Menu -------------------------------------------------------------*/
.menu{
	float: right;
	height: inherit;
	position: absolute;
	right: 0;  /*coller le menu à droite*/
	top: 0;
	position: relative;
	z-index: 10000 !important;
}

.menu .navbar {
	list-style: none;
	margin: 0;
	padding-top: 0;
	white-space: nowrap;
	height: inherit;
	line-height: inherit;
}

.navbar li {
	position: relative;
	bottom: 1px;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.navbar i{
	position: relative;
	top: 6px;
}

.menu .navbar li a {
	
	height: 60px;
	line-height:  60px;
	letter-spacing: 0.225em;
	padding: 1em 1.5em;
	margin: 0;
	text-transform: uppercase;
	top: 0;
}*/

.menu .account {
	float: right;
	height: 60px;
	margin: 0;
}

.account > img {
	height: 35px;
	position: relative;
    top: 10px;
}

.circle {
	display: block;
	position: absolute;
	background: white;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin: 0;
	top: 44px;
	left: 100px;
}

.menuToggle{
	float: right;
	height: inherit;
	margin: 0;
}

.menuToggle img{
	padding: 10px;
}

.menuMobile{
	display: none;
}
/* Nav bar et menu responsive ------------------------------------------*/
@media screen and (max-width: 1000px) {

	#header nav > ul > li > .first {
		display: none;
	}
}	

@media screen and (min-width: 980px) {
	.menuToggle {
		visibility: hidden;
		display: none;
	}
}
@media screen and (max-width: 980px) {

	.menu{
		display: none;
	}
	
	.site-content{
		height: 100%;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		-webkit-overflow-scrolling: touch;
	}
	
	.menuMobile{
		display: inherit;
		position: absolute;
		background-color: rgba(70,102,111,1.00);
		right: 0;
		top: 0;
		bottom: 0;
		width: 250px;;
		height: 100%;
		z-index: 100000;
		transition: background 150ms ease-in;
	}
	
	.navbarMobile li:first-child{ 
		margin-top: 60px;
	}
	
	.navbarMobile li a{
		list-style: none;
		display: block;
		height: 60px;
		line-height: 60px;
		padding-left: 20px;
	}
	
	.iconCLose{
		float: right;
		margin: 0;
		padding: 0;
		height: 60px;	
	}
	
	.iconCLose i{
		padding: 15px 15px;
		font-size: 25px;	
	}
	
	.without--sidebar{
		transform: translateX(250px);
		display: none;
		transition-duration: 0.3s;
		transition: background 150ms ease-in;
	}
	.with--sidebar{
		display: block;
		transform: translateX(0px); 
		transition-duration: 0.3s;
		transition: background 150ms ease-in;
	}
}

@media screen and (max-width: 770px){
	.header .logoMobile{
		display: block;
		width: 35px;
		position: relative;
		top: 5px;
		align-items: left;
	}
	.header .titreMobile{
		display: none;
	}
}

@media screen and (min-width: 400px) and (max-width: 1100px){
	.research form{
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 399px){
	.research form{
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	input[type=search] {
		width: 75%;
	}
}

@media screen and (max-width: 1400px){
	.mediumScreen{
		display: none;
	}
}

/* Menu déroulant -----------------------------------------------------*/
.deroulant{
	position: fixed;
	right: 10px;
	top: 60px;
	border-radius: 4px;
	background-color: white;
	width: 200px;
	height: auto;
	box-shadow: 2px 2px 5px 1px rgba(85,121,128,0.80);
	overflow: hidden;
	z-index: 1000000000;
}

.deroulantHidden{
	display :none;
}

.deroulant li{
	padding-left :20px;
	padding-top : 5px;
}

.deroulant li:hover{
	background-color: rgba(85,121,128,1.00);
	color: white;
}
/* Banner -------------------------------------------------------------*/
body, section {
	margin: 0;
	padding: 0;
}

.headimage{
	position: absolute;
	width: 100%;
	height: 400px;
	align-items: center;
	align-content: center;
	object-fit: cover;
	width: 100%;
	overflow: hidden;
	z-index: -10;
}

/* Sections -----------------------------------------------------------*/
section{
	width: 100%;
	padding: 0 auto 0 auto;
	display: flex;
	
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.flexSection {
	display: flex;
}

.flexRow{
	flex-direction: row;
}

.flexColumn{
	flex-direction: column;
}

@media screen and (max-width: 900px){
	.column{
		flex-direction: column;
	}
}

.space{
	height: 370px;
}

.research{
	top: 9px;
	width: 350px;
	z-index: 1000;
	position: -webkit-sticky;
	position: sticky;
	margin-left: auto;
	margin-right: auto;
}
	
.research form{
	position: relative;
	height: 40px;
	border-radius: 40px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	background: #fff;
	
}

@media screen and (min-width: 1101px){
	.research form{
		width: 350px;
	}
	input[type=search] {
		width: 85%;
	}
}

input[type=search] {
	position: absolute;
	top: 10px;
	left: 35px;
	padding-left: 10px;
	margin-right: 10px;
	position: absolute;
	font-size: 14px;
	background: white;
	color: #5a6674;
	height: 20px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.research button{ 
	position: absolute;
	top: 10px;
	left: 15px; 
	height: 20px;
	width: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none !important;
	cursor: pointer;
	color: black;
}

.research .fa-search{
	font-size: 16px;
	padding-left: auto;
	padding-right: auto;
}

.ads{
	margin-top: 30px;
}

.ads .flexSection img{
	padding-left: 1em;
	padding-right: 1em;
	width: 90%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

@media screen and (max-width: 600px) {
	.hidden{
		display: none;
	}
}

.announcements {
	font-size: 20px;
	color: rgba(238,108,108,1);
	letter-spacing: -0.3px;
	width: 100%;
}

.announcements tbody tr{
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.announcements header{
	display: flex;
} 

.announcements td div h4{
	color: #fff;
	margin: 0 1em 1em 0.5em;
	text-transform: uppercase;
	position: relative;
	bottom: 5px;
	height: 36px;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.announcements td > div{
	background-color: #EE6C6C;
	box-shadow: 1px 1px 5px black;
	width: 300px;
	height: 400px;
	margin: 0 0.5em 1em 0.5em;
	border: 3px solid #EE6C6C;
}

.announcements td div img{
	width: 300px;
	height: 200px;
	margin-left: 0px;
	object-fit: contain;
}

.announcements td div button img{
	width: 100%;
	height: auto;
	margin-left: 0px;
}

.announcements .description{
	background-color: #fff;
	height: 100px;;
	position: relative;
	bottom: 40px;
	margin-bottom: 0px;
	text-align: justify;
	padding: 5px 10px 5px 10px;
	color: rgb(43,43,43);
	font-size: 17px;
	overflow-x: auto;
	overflow-y: hidden;
	line-height: 1em;
	white-space: pre-wrap;
}

.announcements footer{
	background-color: #fff;
	height: 41px;;
	position: relative;
	bottom: 36px;
}

.announcements .price{
	padding-left: 10px;
	font-size: 28px;
	line-height: 0;
}

.announcements footer:last-child{
	justify-content: flex-end;
}

.announcements footer button{
	margin: 5px;
}

.heart{
	background: none;
	border: none;
	position: relative;
	bottom: 10px;
	margin-right: 0px;
	align-content: flex-end;
	right: 10px;
	
}

.ad{
	background-color: #B5CACE;
}

.ad div{
	width: 100%;
}

.ad h3{
	position: absolute;
	left: 35%;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.6);
	letter-spacing: 0.095px;
}

/*@media screen and (max-width: 1600px) {
	.ad h3{
	   font-size: 200%;
		margin-top: 9%;
	}
}

@media screen and (max-width: 1105px) {
	.ad h3{
		font-size: 150%;
		margin-top: 10%;
	}
}

@media screen and (max-width: 754px) {
	.ad h3{
		font-size: 100%;
		margin-top: 20%;
	}
}*/



.ad img{
	width: 350px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.hiddenHut{
	display: none;
	transition-duration: 1s;
}

.seller h2{
	margin: auto;
	text-align: center; 
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: #B5CACE;
	letter-spacing: -0.3px;
}

@media screen and (max-width: 800px){
	.seller h2{
		font-size: 40px;
	}
}

@media screen and (max-width: 600px){
	.seller h2{
		font-size: 30px;
	}
}

.seller{
	margin-top: 40px;
}

.seller .center{
	border: 2px solid #B5CACE;
	margin-top: 20px;
	width: 60%;
	margin-bottom: 20px;
	min-width: 300px;
}

.seller .center:last-child{
	margin-top: 30px;
}

.seller p{
	line-height: 2em;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}

.seller p span{
	font-size: 40px;
	margin-bottom: 5px;
}

.seller .center .flexSection > div{
	margin: 0 20px 20px 20px;
}

.seller img{
	width: 100%;
	margin: auto;
	
}

.seller p{
	font-size: 15px;
	line-height: 1.2em;
}

.seller .vertical{
	position: relative;
     top: 50%;
     transform: perspective(1px) translateY(20%);
}


.team{
	background-color: #E5E2D1;
}

.team .center div{
	width: 100%;
}

.team h2{
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}

.partners{
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}
.partners h2{
	background-color: #BFBFBF;
	color: #fff;
}

.profils > div{
	width: 60%;
	padding: 1em 1em 1em 1em;
	margin-top: 1em;
}

.profils h3{
	text-transform: uppercase;
}

.firmin{
	background-color: #D6EBD4;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.firmin .logo{
	margin-right: 50px;
	margin-left: 10%;
}

.deborah{
	background-color: #D4E5EB;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
}

.deborah .logo{
	margin-right: 10%;
	margin-left: 50px;
	float: right;
}

.nicolas{
	background-color: #EBD4D4;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.nicolas .logo{
	margin-right: 50px;
	margin-left: 10%;
}

/* Buy page -----------------------------------------------------------*/
.rowClassified{
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}



/* Sections Responsive ------------------------------------------------*/


/* Footer -------------------------------------------------------------*/
#footer > h3, a, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#footer {
	padding: 1em 0 1em 0 ;
	background-color: #3B3B3B;
	text-align: center;
}

#footer h3 {
	padding-bottom: 0.5em;
	color: #fff;
}

#footer ul {
	font-size: 1.25em;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.225em;
	list-style: none;
	padding-bottom: 1em;
}

#footer > .creators > li {
	font-size: 0.6em;
}
			
#footer > ul >li > a:hover {
	color: #fff;
}

#footer .contact li  {
	display: inline-block;
	line-height: 1em;
	padding-left: 0.8em;
}

#footer .contact li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .contact li a, .creators li a{
	color: inherit;
}

#footer .contact li a:hover {
	color: #fff;
}