
.titre_gauche {
	font-weight: bold;
	padding: 14px 16px;
}

.menu_droite #menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  display: inherit;		
}

.flex_container {
	display: flex;
	flex-direction: row;
}

.flex_container > div {
	width: 100%;
}

.titrePage {
	text-align: center;
	padding: 14px 16px;
}

#menu li {
	float : left;
}


#menu li a {
	display: inherit;
	text-align: right;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
}

.valuesMessage {
	padding: 14px 16px;
}

.withBackgroundImg {
	background-image: url("/images/cabane.jpg");
	background-size: 100%;
}

.valuesToEnter input, #Objects, #message, #submit {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}



